# GCP
GCP_PROJECT_ID = gcp-project-id
GCP_REGION=us-central1
GCS_BUCKET_NAME=bucket-name
BQ_DATASET=bigquery-dataset

# GCP Auth
GOOGLE_APPLICATION_CREDENTIALS=/path/to/service-account-key.json

# Airflow
AIRFLOW_UID=50000

# PostgreSQL (Airflow metadata DB)
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

